#div_de_boasvindas{
    padding-left: 1px !important;
    padding-right: 1px !important;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
}


body, .card{
    background-color:antiquewhite!important;

}

.card{
    border-style: none !important;
}

#Divlateral{
        position:block;
        background-color:rgb(231, 174, 134);
        float: left;
        color: aliceblue;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
}

#formulario{
    padding-left: 6px;
    padding-right: 9px;
    height: 482px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#formulario_login{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 400%;
    left: 90%;
    transform: translate(-50%, -50%);
}


#inverter {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#email, #senha, #nome, #confirma_senha{
    box-shadow: rgba(0, 0, 0, 0.788) -5px 5px;
}