#div_de_boasvindas{
    padding-left: 1px !important;
    padding-right: 1px !important;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body, .card{
    background-color:antiquewhite!important;
    margin: 0;
    background-color: #000;
    font-family: Arial;

}

.card{
    border-style: none !important;
}

#formulario{
    padding-left: 6px;
    padding-right: 9px;
    height: 482px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


#inverter {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#email, #senha, #nome, #confirma_senha{
    box-shadow: rgba(0, 0, 0, 0.788) -5px 5px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: red;
  text-align: center;
}